.transactionHistory {
  width: 750px;
  font-size: 20px;
  text-align: center;
  border-collapse: collapse;
  padding: 0;
  margin: 30px 0 0 0;
}

.transactionHistory > thead {
  color: #ffffff;
  text-transform: uppercase;
  background-color: grey;
}

.transactionHistory > thead > tr > th {
  border: 1px solid #d3d3d3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.transactionHistory > tbody > tr > td {
  color: #808080;
  border: 1px solid #d3d3d3;
  padding-top: 20px;
  padding-bottom: 20px;
}
